{% extends 'printtextpage/base.html' %}slide
{% block content %}
{% load static %}
{% include 'printtextpage/navigation.html' %}

<div class="row">
    <p class="fade" style="text-align: center; font-family: 'Ubuntu', sans-serif; font-size: 65px; font-weight: bold; line-height: 100px;">Homework Worksheet</p>
    <div class="col">
        <div class="card card-body" style="margin-left: 5px;">
            <div id="homework" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#homework" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#homework" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#homework" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#homework" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner" style=" width:100%; height: 500px !important;">
                  <div class="carousel-item active" data-bs-interval="2500">
                    <img src="{% static '/images/homework1.jpg' %}" class="d-block w-100 h-100">
                  </div>
                  <div class="carousel-item" data-bs-interval="2500">
                    <img src="{% static '/images/homework2.jpg' %}" class="d-block w-100 h-100">
                  </div>
                  <div class="carousel-item" data-bs-interval="2500">
                    <img src="{% static '/images/homework3.jpg' %}" class="d-block w-100 h-100">
                  </div>
                  <div class="carousel-item" data-bs-interval="2500">
                    <img src="{% static '/images/homework4.jpg' %}" class="d-block w-100 h-100">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#homework" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#homework" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col" style="text-align: center;">
        <p class="fade" style="text-align: left; margin: 10px; font-family: 'Ubuntu', sans-serif; font-size: 18px;">Homework is a set of tasks assigned to students by their teachers to be completed outside the classroom. Common homework assignments may include required reading, a writing or typing project, mathematical exercises to be completed, information to be reviewed before a test, or other skills to be practiced.</p>
        <ul class="fade" style="margin: auto;  display: inline-block; text-align: left;">
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 18px;">Reinforcing skills taught in class</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 18px;">Extending skills to new situations</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 18px;">Preparing for future class lessons</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 18px;">Engaging students in active learning</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 18px;">Developing time management skills</p></li>
        </ul>
        <ul class="fade" style="margin: auto;  display: inline-block; text-align: left;">
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 18px;">Promoting parent-student communications</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 18px;">Encouraging collaboration between students</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 18px;">Fulfilling school/district policies</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 18px;">Demonstrating a rigorous school program</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 18px;">Punishing a student or a class</p></li>
        </ul>
        <div class="d-grid gap-1 col-4 mx-auto">
          <button class="btn btn-lg btn-success" type="button"><a class="nav-link" href="{% url 'print' %}" style="text-align: center; font-family: 'Ubuntu', sans-serif; font-size: 30px; font-weight: bold; color: #ffffff; padding: 0%;">Print Now!</a></button>
        </div>
    </div>
</div>


<br>

<script>
    $(window).on("load",function() {
  $(window).scroll(function() {
    var windowBottom = $(this).scrollTop() + $(this).innerHeight();
    $(".fade").each(function() {
      /* Check the location of each desired element */
      var objectBottom = $(this).offset().top + $(this).outerHeight();
      
      /* If the element is completely within bounds of the window, fade it in */
      if (objectBottom < windowBottom) { //object comes into view (scrolling down)
        if ($(this).css("opacity")==0) {$(this).fadeTo(500,1);}
      } else { //object goes out of view (scrolling up)f
        if ($(this).css("opacity")==1) {$(this).fadeTo(500,0);}
      }
    });
  }).scroll(); //invoke scroll-handler on page-load
});

</script>

{% endblock %}