{% extends 'printtextpage/base.html' %}
{% block content %}
{% load static %}
{% include 'printtextpage/navigation.html' %}

<div class="row">
    <p class="fade" style="text-align: center; font-family: 'Ubuntu', sans-serif; font-size: 65px; font-weight: bold; line-height: 100px;">Letterhead Printing</p>
    <div class="col">
        <div class="card card-body" style="margin-left: 5px;">
            <div id="letterhead" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#letterhead" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#letterhead" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#letterhead" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#letterhead" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner" style=" width:100%; height: 500px !important;">
                  <div class="carousel-item active" data-bs-interval="2500">
                    <img src="{% static '/images/letterhead1.jpg' %}" class="d-block w-100 h-100">
                  </div>
                  <div class="carousel-item" data-bs-interval="2500">
                    <img src="{% static '/images/letterhead2.jpg' %}" class="d-block w-100 h-100">
                  </div>
                  <div class="carousel-item" data-bs-interval="2500">
                    <img src="{% static '/images/letterhead3.jpg' %}" class="d-block w-100 h-100">
                  </div>
                  <div class="carousel-item" data-bs-interval="2500">
                    <img src="{% static '/images/letterhead4.png' %}" class="d-block w-100 h-100">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#letterhead" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#letterhead" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col" style="text-align: center;">
        <p class="fade" style="text-align: left; margin: 10px; font-family: 'Ubuntu', sans-serif; font-size: 20px;">A letterhead is a stationery design that unifies your printed correspondence to your brand. Technically, letterheads are used for printed letters but can also be used in digital messaging to maintain a branded feel. In some cases, companies use letterheads for important correspondence only. For example, a university sends emails for regular communication but uses a letterhead sent in the post for an acceptance letter. A law firm uses email daily but sends a letter on a letterhead as an official communication with a higher official. A letterhead includes content like:</p>
        <ul class="fade" style="margin: auto;  display: inline-block; text-align: left;">
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 20px;">A person or business name</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 20px;">An address</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 20px;">A phone number</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 20px;">An email </p></li>
        </ul>
        <ul class="fade" style="margin: auto;  display: inline-block; text-align: left;">
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 20px;">Contact details</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 20px;">A company logo/brand logo</p></li>
            <li><p style="font-family: 'Ubuntu', sans-serif; font-size: 20px;">Occasionally a background or border design</p></li>
        </ul>
        <div class="d-grid gap-1 col-4 mx-auto">
          <button class="btn btn-lg btn-success" type="button"><a class="nav-link" href="{% url 'print' %}" style="text-align: center; font-family: 'Ubuntu', sans-serif; font-size: 30px; font-weight: bold; color: #ffffff; padding: 0%;">Print Now!</a></button>
        </div>
    </div>
</div>


<br>

<script>
    $(window).on("load",function() {
  $(window).scroll(function() {
    var windowBottom = $(this).scrollTop() + $(this).innerHeight();
    $(".fade").each(function() {
      /* Check the location of each desired element */
      var objectBottom = $(this).offset().top + $(this).outerHeight();
      
      /* If the element is completely within bounds of the window, fade it in */
      if (objectBottom < windowBottom) { //object comes into view (scrolling down)
        if ($(this).css("opacity")==0) {$(this).fadeTo(500,1);}
      } else { //object goes out of view (scrolling up)
        if ($(this).css("opacity")==1) {$(this).fadeTo(500,0);}
      }
    });
  }).scroll(); //invoke scroll-handler on page-load
});

</script>

{% endblock %}